/* variables */
/* variables */
/* mixin */
/* includes */
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Lato', sans-serif;
  border-top: 3px solid #812b2c;
  margin: 0;
}
h1 {
  left: -3000px;
  position: absolute;
}
h2 {
  font-size: 19px;
}
h3 {
  font-size: 15px;
}
p,
label {
  font-size: 14px;
  line-height: 2em;
}
/* Header */
header {
  height: 131px;
  max-width: 1200px;
  margin: 0 auto;
}
.main-logo {
  background: url("../../img/logo.png") no-repeat;
  width: 222px;
  height: 60px;
  margin: 35px 10px;
}
@media (max-width: 768px) {
  .main-logo {
    text-align: center;
  }
}
.wrapper-top-info {
  font-style: italic;
  font-size: 13px;
  text-align: right;
  margin-top: 35px;
  margin-right: 10px;
}
@media (max-width: 992px) {
  .wrapper-top-info {
    display: none;
  }
}
.wrapper-top-info .phone-info {
  color: #666666;
}
.wrapper-top-info .socialNetwork-info a {
  text-decoration: none;
  color: #ce5a5a;
  font-style: italic;
}
.main-menu {
  text-align: right;
  margin-top: 30px;
}
@media (max-width: 992px) {
  .main-menu {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
  }
}
.main-menu ul li {
  display: inline-block;
  margin: 0 15px;
}
@media (max-width: 992px) {
  .main-menu ul li {
    margin: 10px 15px;
  }
}
.main-menu ul li a {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.main-menu ul li a:hover {
  border-bottom: 2px solid #812b2c;
  padding-bottom: 3px;
  text-decoration: none;
  color: #000;
}
/* Slider */
.content-banner {
  background: url("../../img/slide_01.jpg") no-repeat center center;
  background-size: cover;
  min-height: 584px;
}
@media (max-width: 1024px) {
  .content-banner {
    min-height: 450px;
  }
}
@media (max-width: 640px) {
  .content-banner {
    min-height: 300px;
  }
}
@media (max-width: 480px) {
  .content-banner {
    min-height: 250px;
  }
}
/* Main content */
section.wrapper-content {
  max-width: 1200px;
  margin: 0 auto;
}
.content-block {
  font-size: 0.95em;
  text-align: center;
  margin-top: 38px;
}
.content-block img {
  border: 3px solid #812b2c;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  max-width: 246px;
  max-height: 246px;
  margin-bottom: 30px;
  width: 80%;
}
@media (max-width: 768px) {
  .content-block img {
    width: 50%;
  }
}
.content-block h2 {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 10px;
}
.content-block:hover img {
  border: 3px solid #ce5a5a;
}
.content-block:hover h2 {
  color: #ce5a5a;
}
.content-block:hover p {
  color: #ce5a5a;
}
/* Footer top */
div.wrapper-footer-top {
  background-color: #812b2c;
  width: 100%;
  float: left;
  padding-top: 35px;
  padding-bottom: 15px;
  margin-top: 30px;
}
.footer-top {
  max-width: 1200px;
  margin: 0 auto;
}
.footer-top h2 {
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer-top .welcome-text,
.footer-top .contact-form {
  font-size: 0.95em;
  text-align: left;
  color: #FFF;
}
/* forms */
select,
input,
textarea {
  width: 100%;
  height: auto;
  margin: 3px 0;
  padding: 13px 5px;
  border: 3px solid #ce5a5a;
  display: block;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #666666;
  font-family: 'Lato', sans-serif;
}
select {
  color: #666666;
  font-family: 'Lato', sans-serif;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #666666;
  font-family: 'Lato', sans-serif;
}
input.placeholder,
textarea.placeholder {
  color: #666666;
  font-family: 'Lato', sans-serif;
}
textarea.message {
  height: 155px;
}
option {
  color: #666666;
  font-family: 'Lato', sans-serif;
}
.submit {
  float: right;
  width: 160px;
  height: 47px;
  background: #1f813b;
  border: 1px solid #5acd7b;
  margin-top: 17px;
  margin-bottom: 13px;
}
/* footer bottom */
div.wrapper-footer-bottom {
  background-color: #ce5a5a;
  width: 100%;
  float: left;
  padding-top: 23px;
  padding-bottom: 23px;
  color: #FFF;
}
@media (max-width: 768px) {
  div.wrapper-footer-bottom {
    display: none;
  }
}
.footer-bottom {
  max-width: 1200px;
  margin: 0 auto;
}
.footer-bottom .copyright {
  text-align: left;
}
.footer-bottom .credits {
  text-align: right;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
